<h1>Pregunta</h1>
<style type="text/css">
    #pregunta {
        margin: auto;
        text-align: center;

    }
</style>

<p id="pregunta">
<iframe src="https://docs.google.com/forms/d/1UNvvX9MyV4DVqpu-cJHwww3H7uMeffyBytkbphDT4Zs/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe></p>
