
<% title 'Asamblea Cristiana Génesis' %>
<%= image_tag "flecha.gif", :width => 30 %>
           <%=  link_to "Califica la página ", :controller => :pregunta, :action => :index %>
<%= render "slider1" %>

<div id="oculta">

</div>
<br>
<div id="homePad">
  <div id="highlights">
    <div id="highlight1">
                <span  Editable="Yes">
                  <a href="http://www.facebook.com/asambleacristianagenesis" target="_blank">
                    <img border="0" alt="comunidad 2012" src="/assets/imagess.jpg" width="177" height="100" _tempcsstext="null"/>
                  </a>
                  <h4><a href="http://www.facebook.com/asambleacristianagenesis" target="_blank">Únete a la Comunidad</a></h4>
                    <p>
                      Únete a nosotros en <a href="http://www.facebook.com/asambleacristianagenesis" target="_blank">Facebook</a>, síguenos en
                      <a href="http://twitter.com/" target="_blank">Twitter</a>, comprueba las últimas noticias en el
                      <a href="#">blog</a>
                      oficial o conoce a otras entidades en el <a href="#">foro</a>.
                    </p>
                </span>
    </div>
    <div id="highlight2">
                <span id="" Editable="Yes">
                  <a href="/genesis/index">
                    <img border="0" alt="What is genesis?" src="/assets/12.JPG" width="177" height="100"/>
                  </a>
                  <h4>
                    <a href="/genesis/index">¿ Qué es Génesis ?</a>
                  </h4>
                    <p>
                      Génesis ha crecido hasta convertirse en una competición centrada en encontrar soluciones a
                      problemas reales.
                      <br/>
                    </p>
                </span>
    </div>
    <div id="highlight3">
      <span Editable="Yes">
                  <a href="/noticia/">
                    <img border="0" alt="New menssages!" src="/assets/message.jpg" width="177" height="100"/>
                  </a>
                  <h4>
                    <%= link_to " Mensajes, ¡inscribiros ya! ", :controller => "main", :action => "index" %>
                  </h4>
                    <p>
                      Lleva tu conocimiento al siguiente nivel. únete al grupo de equipos selectos que recibirán las
                      ultimas noticias y la oportunidad de resolver problemas.
                    </p>
                </span>
    </div>
    <div id="highlight4">
                <span  Editable="Yes">
                  <a href="/galeria/">
                    <img border="0" alt="Watch The Excitement!" src="/assets/14.JPG" width="177" height="100"/></a><h4>
                  <a href="/galeria/">¡Disfruta del evento!</a></h4>
                    <p>
                      Vuelve a disfrutar con la <a href="/galeria/">grabación</a>
                      de la Ceremonia de Premios y los discursos de Mayor Bloomberg. Te inspirarán! a seguir cada una de
                      tus metas
                    </p>
                </span>
    </div>
  </div>
</div>
<br>
