<center>
  <%= image_tag "heroimage.jpg" %>
</center>
<div id="titulo"> Reuniones   </div >

<p id="reunion">Reunion de jóvenes sábados de 18:30  </br >
  Oración dias miércoles 18:30       </br >
  Domingos 10:00, 18:30  </p>
   <center>
   <%=  image_tag "genesis/reuniones.JPG" , :width => "300" %>
</center>
<div id="flor"></div>




