
<div id="titulo"> ¡Bienvenido a la Asamblea Cristiana Génesis.! </div >
<div id="contenedormediano">
<p>
Estamos ubicados en la calle final Matos entre la Calle Lapaz, Potosí-Bolivia.
</p>
<%=  image_tag "direccion.JPG" %>
</div>
<div id="encuestas">
  <p> <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGViRXJ6NkNCc08tTEpTR0xMcXNvUmc6MQ" width="250" height="240" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
  </p>

</div>
<div id="flor"></div>